/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 16, 2023, 2:54:16 PM
    Author     : tranp
*/
.login{
    -fx-effect: innershadow(gaussian, #333, 10, 0.5, 0, 0);
}
.login-tittle{
     -fx-padding: 10px
}
.login-input{
    -fx-background-color:#1A2226;
    -fx-border-style:none;
    -fx-border-color:#0DB8DE;
    -fx-border-width:0 0 2 0;
    -fx-background-radius:0px;
    -fx-font-weight:bold;
    -fx-focus-color: transparent;
    -fx-text-fill:#ECF0F5;
}
.login-input:focus{
    -fx-border-color:inherit;
-fx-focus-color:transparent;
-fx-border-color:#0DB8DE;
    -fx-border-width:0 0 2 0;
    -fx-border-style:solid;
    -fx-background-color:#1A2226;
    -fx-text-fill:#ECF0F5;
}
.btn-outline-primary{
    -fx-border-color:#0DB8DE;
    -fx-text-fill:#0DB8DE;
    -fx-background-radius:0px;
    -fx-font-weight:bold;
    -fx-background-color: transparent;
    -fx-padding: 8 16;
    -fx-cursor:hand;
}
.btn-outline-primary:hover{
    -fx-background-color:#0DB8DE;
    -fx-text-fill:white;
}

.mfx-combo-box .caret .mfx-ripple-generator {
	-mfx-ripple-color: rgba(98, 0, 238, 0.1);
	-mfx-ripple-radius: 14;
}

.mfx-combo-box:focus-within .caret .mfx-font-icon {
	-mfx-color: -mfx-main;
}

.mfx-combo-box .combo-popup .virtual-flow {
	-fx-background-radius: 5;
	-fx-border-color: #ebebeb;
	-fx-border-radius: 5;
}

.mfx-combo-box:disabled .caret .mfx-font-icon {
	-mfx-color: #bcbcbc;
}
.white-form{
    -fx-background-color:#fff;
    -fx-background-radius:8px;
}
.border{
    -fx-border-color: linear-gradient(to right, lightblue, lightblue);
    -fx-border-width:1px;
    -fx-border-radius:8px;
}
.btn{
    -fx-background-color:linear-gradient(to right, lightblue, lightblue);
    -fx-text-fill:#fff;
    -fx-font-size:14px;
    -fx-cursor:hand;
    -fx-font-weight:bold;
}
.btn:hover{
     -fx-background-color:linear-gradient(to right, #ADD8E6, #87CEEB);
}
.table-view{
    -fx-padding:0px;
    -fx-background-color:transparent;
    -fx-border-color:linear-gradient(to right, lightblue, lightblue);
    -fx-border-radius:9px;
    -fx-border-width:2px;
}
.table-view .column-header-background{
    -fx-background-color:linear-gradient(to right, #ADD8E6, #87CEEB);
    -fx-background-radius:8px 8px 0 0;
    -fx-background-inset:0 0 0 0;
}
.table-view .column-header,.filter{
    -fx-background-color:transparent;
    -fx-size:50px;
}
.table-view .column-header .label{
    -fx-text-fill:#fff;
    -fx-font-family:arial;
}
.combo-box {
    -fx-background-color: #E0E0E0; /* Màu nền */
    -fx-text-fill: #333333; /* Màu chữ */
}