/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 17, 2023, 7:48:09 PM
    Author     : tranp
*/
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');

.nav{
    -fx-background-color:linear-gradient(to bottom right,#4694bb,#2a5178);
}
.pagination {
    
    -fx-border-radius: 5px; /* Đây là giá trị border radius */
}

.pagination-button {

    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 5px; /* Đây là giá trị border radius */
}

.pagination-arrow {

    -fx-text-fill: white;
    -fx-font-weight: bold;
   -fx-background-radius: 5px; /* Đây là giá trị border radius */
}
.pagination .page-link {
    -fx-background-radius: 5px; /* Đây là giá trị border radius */

    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.pagination .page-link:hover {
    -fx-background-radius: 5px; /* Đây là giá trị border radius */

}

.pagination .current-page {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-radius: 5px; /* Đây là giá trị border radius */
}
.button-error{
    -fx-text-fill: #fff;
    -fx-background-color: #D2122E;
    -fx-border-color: #007bff;
    -fx-display: inline-block;
    -fx-font-weight: 400;
    -fx-alignment: center;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 2.5px; /* Equivalent to 0.25rem */
    -fx-background-radius: 2.5px; /* Equivalent to 0.25rem */
    -fx-background-insets: 0;
    -fx-background: #007bff;
    -fx-border-insets: 0;
    -fx-border: #007bff;
    -fx-content-display: CENTER;
    -fx-visual-effect: null;
    -fx-effect: null;
}
.button-success{
    -fx-text-fill: #fff;
    -fx-background-color: #32de84;
    -fx-border-color: #007bff;
    -fx-display: inline-block;
    -fx-font-weight: 400;
    -fx-alignment: center;

    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 2.5px; /* Equivalent to 0.25rem */


    -fx-background-radius: 2.5px; /* Equivalent to 0.25rem */
    -fx-background-insets: 0;
    -fx-background: #007bff;
    -fx-border-insets: 0;
    -fx-border: #007bff;
    -fx-content-display: CENTER;

    -fx-visual-effect: null;
    -fx-effect: null;
}
.nav-btn{
    -fx-background-color:transparent;
    -fx-border-color:#fff;
    -fx-border-width:.7px;
    -fx-font-family:Arial;
    -fx-text-fill:#fff;
    -fx-alignment:left;
    -fx-border-radius:4px;
    -fx-cursor:hand;
}
.nav-btn:hover{
    -fx-background-color:#fff;
    -fx-text-fill:#2a5178;
}
.header{
    -fx-background-color:#2a5178;
    -fx-border-width:0 0 2px 0;
    -fx-border-color:#fff;
}
.logout{
    -fx-background-color:transparent;
    -fx-border-color:#fff;
    -fx-background-radius:50px;
    -fx-border-width:.7px;
    -fx-border-radius:50px;
    -fx-padding:5px;
    -fx-cursor:hand;
}
.logout:hover{
    -fx-background-color:#fff;
    -fx-background-radius:50px;
}
.container{
    -fx-background-color:#fff;
    -fx-padding: 30px 65px;
    -fx-boder-radius:12px;
    -fx-background-radius:12px;
    -fx-background-color: rgba(255, 255, 255, 0.8);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 0, 5, 10, 0);
}
.white-form{
    -fx-background-color:#fff;
}
.radius{
    -fx-background-radius:8px;
}
.shadow{
    -fx-effect:dropshadow(three-pass-box,rgba(0,0,0,0.5),5,0,0,0);
}
.border{
    -fx-border-color: linear-gradient(to right, #800000, #800000);
    -fx-border-width:1px;
    -fx-border-radius:8px;
}
.white-form{
    -fx-background-color:#fff;
    -fx-background-radius:8px;
}
.btn{
    -fx-background-color:linear-gradient(to right,#800000,#800000);
    -fx-text-fill:#fff;
    -fx-font-size:14px;
    -fx-cursor:hand;
    -fx-font-weight:bold;
}
.btn:hover{
    -fx-background-color:linear-gradient(to right, #8B0000, #600000);
}
.table-view{
    -fx-padding:0px;
    -fx-background-color:transparent;
    -fx-border-color:linear-gradient(to right, #800000,#800000);
    -fx-border-radius:9px;
    -fx-border-width:2px;
}
.table-view .column-header-background{
    -fx-background-color:linear-gradient(to right, #8B0000, #600000);
    -fx-background-radius:8px 8px 0 0;
    -fx-background-inset:0 0 0 0;
}
.table-view .column-header,.filter{
    -fx-background-color:transparent;
    -fx-size:50px;
}

.table-view .column-header .label{
    -fx-text-fill:#fff;
    -fx-font-family:arial;
}
.top-card{
    -fx-background-color:linear-gradient(to bottom right,#4694bb,#2a5178);
    -fx-background-radius:8px 8px 0 0;
}
.table-view1{
    -fx-background-color:transparent;
    -fx-border-color:linear-gradient(to bottom right,#4694bb,#2a5178);
    -fx-border-width:1.5px;
    -fx-border-radius:8px;
    -fx-padding:0px
}
.btn-find{
    -fx-text-fill: #fff;
    -fx-background-color: linear-gradient(to right, #4694bb,#2a5178);
    -fx-border-color: linear-gradient(to bottom right,#4694bb,#2a5178);
    -fx-display: inline-block;
    -fx-font-weight: 400;
    -fx-alignment: center;
    -fx-white-space: nowrap;
    -fx-vertical-alignment: middle;
    -fx-focus-traversable: false; /* Equivalent to user-select: none */
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 2.5px; /* Equivalent to 0.25rem */
    -fx-padding: 3.75px 7.5px; /* Equivalent to 0.375rem 0.75rem */
    -fx-font-size: 16px; /* Equivalent to 1rem */
    -fx-line-spacing: 1.5;
    -fx-background-radius: 2.5px; /* Equivalent to 0.25rem */
    -fx-background-insets: 0;
    -fx-background: #007bff;
    -fx-border-insets: 0;
    -fx-border: #007bff;
    -fx-content-display: CENTER;
    -fx-translate-x: 0;
    -fx-translate-y: 0;
    -fx-translate-z: 0;
    -fx-rotate: 0;
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-scale-z: 1;
    -fx-visual-effect: null;
    -fx-effect: null;
    -fx-cursor:hand;
    -fx-border-insets: 0;
}
.table-view1 .column-header-background{
    -fx-background-color:linear-gradient(to right, #4694bb,#2a5178);
    -fx-background-radius:8px 8px 0 0;
    -fx-background-inset:0 0 0 0;
}
.top-panel{
    -fx-background-color:linear-gradient(to right, #ADD8E6, #87CEEB);
}
.btn-design{
    -fx-text-fill: #fff;
    -fx-background-color: #007bff;
    -fx-border-color: #007bff;
    -fx-display: inline-block;
    -fx-font-weight: 400;
    -fx-alignment: center;
    -fx-white-space: nowrap;
    -fx-vertical-alignment: middle;
    -fx-focus-traversable: false; /* Equivalent to user-select: none */
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-border-radius: 2.5px; /* Equivalent to 0.25rem */
    -fx-padding: 3.75px 7.5px; /* Equivalent to 0.375rem 0.75rem */
    -fx-font-size: 16px; /* Equivalent to 1rem */
    -fx-line-spacing: 1.5;
    -fx-background-radius: 2.5px; /* Equivalent to 0.25rem */
    -fx-background-insets: 0;
    -fx-background: #007bff;
    -fx-border-insets: 0;
    -fx-border: #007bff;
    -fx-content-display: CENTER;
    -fx-translate-x: 0;
    -fx-translate-y: 0;
    -fx-translate-z: 0;
    -fx-rotate: 0;
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-scale-z: 1;
    -fx-visual-effect: null;
    -fx-effect: null;
    -fx-cursor:hand;
    -fx-border-insets: 0;
}
.table-view2{
    -fx-background-color:transparent;
    -fx-border-color:#651FFF;
    -fx-border-width:1.5px;
    -fx-border-radius:8px;
    -fx-padding:0px;

}

.table-view2 .column-header-background{
    -fx-background-color:#651FFF;
    -fx-background-radius:8px 8px 0 0;
    -fx-background-inset:0 0 0 0;

}
.button-Employee{
    -fx-background-radius:10;
    -fx-text-fill:white;
    -fx-border-color:white;
    -fx-border-width:1px;
    -fx-border-style:solid;
    -fx-background-color: #366e95;
    -fx-cursor:hand;
}
.button-Employee:hover{
    -fx-background-color:#558eb8;
    -fx-text-fill:white;
}
.text-area{
    -fx-font-size:14px;
    -fx-font-family:"Arial";
    -fx-text-fill:#333;
    -fx-background-color:#f5f5f5;
    -fx-border-color:#ccc;
    -fx-border-width:1px;
    -fx-border-radius:5px;
    -fx-padding:5px;
    -fx-wrap-text: true;
}
.custom-font {
    -fx-font-family: 'Sedgwick Ave Display', cursive;
    -fx-font-weight:bold;
;
}
.combox-box{
    -fx-background-color:#F0F0F0;
}
.combox-box .list-view{
    -fx-background-color:#F0F0F0;
}
.combox-box .list-view .list-cell:filled:selected{
    -fx-text-fill:#fff;
}
.combox-box-popup .list-view .list-cell:filled:selected{
    -fx-background-color:#007bff;
}
.combox-box-popup .list-view .list-cell{
    -fx-text-fill:#000;
}
